body {
}
/* Container Styling */
.container {
    margin-top: 2rem;
    padding: 0 1rem; /* Thêm padding nhỏ hai bên */
    max-width: 1800px; /* Đặt giới hạn chiều rộng tối đa */
    margin-left: auto; /* Căn giữa */
    margin-right: auto;
}

    .container h2 {
        color: #007bff;
    }

/* Table Shadow and Border Radius */
.table-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto; /* Đảm bảo bảng căn giữa */
}

/* Table Styling */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table th {
    background-color: #007bff;
    color: white;
    white-space: nowrap;
}

.table td {
    white-space: nowrap;
    vertical-align: middle;
}

/* Scrollbar Styling */
.table-responsive::-webkit-scrollbar {
    height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Button Styling */
.btn-info {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}